<h1>Enter a sentence here and then try replacing some words!</h1>
<form action="/find_and_replace">
  <div class='form-group'>
    <label for="sentence_input">Enter your sentence</label>
    <input id="sentence_input" name="sentence_input" class='form-control' type='text'>
    <label for="find_input">Enter what word to find</label>
    <input id="find_input" name="find_input" class='form-control' type='text'>
    <label for="replace_input">Enter what you want it replaced with</label>
    <input id="replace_input" name="replace_input" class='form-control' type='text'>
  </div>
  <button id="submit" type="submit" class="btn-success">Submit</button>
</form>
